.container {
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-image: url(new_hello.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    box-shadow: 0 0 10px 0 #333333;
}

h3 {
    text-align: center;
}

a h5 {
    text-align: left;
}

select {
    width: 70px;
    border: none;
    border-radius: 2px;
}

select:hover {
    background-color: rgba(171, 133, 179, 0.418);
}

input {
    background: rgba(0, 0, 0, 0.507);
    backdrop-filter: blur(2px);
    border: none;
    outline: none;
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    margin: 7px;
}

input:hover {
    background-color: rgba(171, 133, 179, 0.418);
    outline: none;
}

#type1 {
    width: 100px;
    height: 50px;
    background-color: rgba(171, 133, 179, 0.418);
}

#type1:hover {
    background-color: rgba(171, 133, 179, 0.596);
    cursor: pointer;
}

#type2 {
    border-radius: 5px;
    background-color: rgba(171, 133, 179, 0.637);
    box-sizing: border-box;
    border: none;
}

#type2:hover {
    background-color: rgba(179, 133, 175, 0.479);
    cursor: pointer;
}

button {
    width: 100px;
    height: 50px;
}

button a {
    text-decoration: none;
    color: black;
}

footer {
    text-align: center;
}