.board {
    border: 5px solid black;
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 8%;
    border-collapse: collapse;
}

.white {
    background-color: rgb(13, 13, 14);
    width: 80px;
    height: 80px;
}

.black {
    background-color: rgb(224, 210, 147);
    width: 80px;
    height: 80px;
}